// change variables
$primary:   #6300EE;
$secondary: #00C29B;
$danger:    #F2193F;
$warning:   #FFBE3B;

// import bootstrap 
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// additional css
*{
   font-family: "Poppins", sans-serif;
   color: #382B47;
}

body{
   display: flex;
   align-items: center;
   justify-content: center;
}

#root{
   max-width: 1440px;
   flex-grow: 1;
}

.btn:focus,.btn-primary:focus{
   box-shadow: none !important;
}

.form-control[readonly]{
   background-color: #FFFFFF;
}

.hover:hover{
   background-color: #F2F4F4 !important;
}

.border-thick{
  border-top: 2px solid #6300EE !important;
}

.right-shadow {
   box-shadow: 1.5rem 0 1rem -1rem rgb(0 0 0 / 15%);
}

.bg-table-primary{
   background-color: #D2B3FF;
}

.bg-table-secondary{
   background-color: #ABEBC6;
}
